.container {
  padding: 20px;
  z-index: 1;
  margin-left: 105vh;
}

h1 {
  font-size: 80px;
  padding-top: 120px;
  padding-bottom: 50px;
}

.projects {
  padding-top: 50px;
}

#contact {
  padding-top: 50px;
}

h2 {
  color: blue;
  padding-bottom: 10px;
}
